body {
    margin: 0;
    padding: 0;
}
.all_page_addProduct {
    width: 100%;
    height: auto;
}
.head_page_addProduct {
    height: 160px;
    margin: 0 0 40px 0;
    background-color: rgb(222, 222, 222);
}
.out_button {
    width: 80%;
    margin: 0 10%;
    text-align: right;
    padding: 1%;
}
.button_logout {
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgb(218, 40, 40);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.head_title {
    font-size: 50px;
    margin: 0 5% 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.head_title_p {
    margin: 0 5%;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.body_page_addProduct {
    width: 90%;
    height: auto;
    margin: 0 10%;
}
.body_title {
    width: 90%;
    height: 30px;
    font-size: 18px;
    border-bottom: 2px solid rgb(222, 222, 222);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form_add_information {
    width: 90%;
    height: auto;
    margin: 2% 0;
}

.in_form {
    display: flex;
    margin-bottom: 2%;
}
.in_in_form {
    width: 200px;
    text-align: right;
    margin-right: 2%;
}
.first_button_submit {
    width: 200px;
    padding-right: 4px;
}
.button_submit {
    display: flex;
    padding-left: 132px;
}
.submit {
    width: 110px;
    height: 30px;
    background-color: rgb(0, 150, 167);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
label {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#discription{
    width: 164px;
    height: 36px;
}
.all_head_title{
padding-top: 26px;
}


