bod {
    margin: 0;
    padding: 0;
}

.all_page_cartShopping {
    width: 100%;
    height: auto;
}

.head_page_cartShopping {
    height: 150px;
    margin: 0 0 40px 0;
    background-color: rgb(222, 222, 222);
}

.all_head_title {
    padding-top: 1%;
}

.head_title {
    font-size: 50px;
    margin: 0 5%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.head_title_p {
    margin: 0 5%;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body_page_cartShopping {
    width: 80%;
    height: auto;
    margin: 0 10%;
}

.button_top {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1%;
}

.out_button_clear {
    width: 50%;
    text-align: left;
}

.clearCart {
    width: 20%;
    border-radius: 5px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(225, 49, 49);
    border-color: rgb(225, 49, 49);
}

.out_button_checkout {
    width: 50%;
    text-align: right;
}

.checkOut {
    width: 21%;
    border-radius: 5px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(36, 144, 36);
    border-color: rgb(36, 144, 36);
}

.table_information_cart {
    width: 100%;
    height: auto;
    display: flex;
}

.table_all {
    width: 100%;
}

.th_first,
.td_first {
    width: 40%;
    height: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.th_rest,
.td_rest {
    width: 15%;
    height: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button_remove {
    height: 30px;
    color: white;
    background-color: rgb(225, 49, 49);
    border-color: rgb(225, 49, 49);
    border-radius: 5px;
}

.th_first,
.th_rest {
    border-top: 1px solid rgb(168, 167, 167);

    border-bottom: 0.5px solid rgb(168, 167, 167);
}

.td_first,
.td_rest {
    border-bottom: 0.5px solid rgb(168, 167, 167);
}

.button_bottom {
    margin-top: 2%;
}

.continue_shoping {
    border-radius: 5px;
    color: white;
    background-color: rgb(36, 144, 36);
    border-color: rgb(36, 144, 36);
}