<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/product.css}" />
    <link
            href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css"
            rel="stylesheet"
    />
    <title>Detail Product</title>
</head>

<body>
<div class="all_page_detailProduct">
    <div class="head_page_detailProduct">
        <div class="head_title">Product Detail</div>
    </div>
    <div class="body_page_detailProduct">
        <div class="body_left">
            <div class="image_product">
                <img
                        src="https://cdn.hoanghamobile.com/i/preview/Uploads/2022/03/09/image-removebg-preview-3.png"
                        alt="iphone13"
                        srcset=""
                />
            </div>
        </div>
        <div class="body_right">
            <div class="information_product">
                <h3 class="title">[[${product.pname}]]</h3>
                <p class="information">

                    [[${product.description}]]
                </p>
                <div class="manufacturer">
                    <h3 class="title">Manufacturer: &nbsp</h3>
                    <p class="information">[[${product.manufacturer}]]</p>
                </div>
                <div class="category">
                    <h3 class="title">Category: &nbsp</h3>
                    <p class="information">
                        [[${product.category}]]
                    </p>
                </div>
                <div class="quantity">
                    <h3 class="title">Available units in stock: &nbsp</h3>
                    <p class="information">[[${product.stock}]]</p>
                </div>
                <div class="price">
                    <p class="information"> [[${product.price}]]&nbspUSD</p>
                </div>
                <div class="status">
                    <button class="button_order">
                        <a class="text_detail" th:href="@{'/cart/add/'+${product.idpro}}">
                            <i class="fas fa-shopping-cart"></i>&nbspOrder Now
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>